
<% if signed_in? %>
  <h1>Create new entry</h1>
  <div >
    <%= form_for @post do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.submit "Post", :class => 'btn btn-success' %>
    <% end %>
  </div> 
<% end %>     

<ul>
<% @posts.each do |post| %>
  <li><%= link_to "#{post.title}", "http://#{post.url}", :target => "_blank" %>
      <div class = "post-elements"><%=  "Votes:  #{post.votes.count} Posted by: #{post.user.name}"%></div>
      <span class = "post-elements"><%=  "Created:  #{post.created_at.pretty_inspect[0..21]}"%></span>
      <span class = "post-elements"><%=  link_to "Comments:  #{post.comments.count}", post %></span>

      <% if post.votes.find_by(:user_id => current_user) == nil && signed_in? %>
        <%= button_to "Vote up", { :controller => :votes,
                                 :action => "show",
                                 :id => post.id },
                                 :method => :get %>
      <% end %>                           
  </li>
<% end %>
</ul>  
